<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.dcais.stock.stock.dao.mybatis.basic.BasicDao">

    <resultMap id = "BaseResultMap" type = "org.dcais.stock.stock.entity.basic.Basic"
               extends = "COMMON.BASE_RESULT_MAP">
        <result column = "ts_code" property = "tsCode" />
        <result column = "symbol" property = "symbol" />
        <result column = "name" property = "name" />
        <result column = "area" property = "area" />
        <result column = "industry" property = "industry" />
        <result column = "fullname" property = "fullname" />
        <result column = "enname" property = "enname" />
        <result column = "market" property = "market" />
        <result column = "exchange" property = "exchange" />
        <result column = "curr_type" property = "currType" />
        <result column = "list_status" property = "listStatus" />
        <result column = "list_date" property = "listDate" />
        <result column = "delist_date" property = "delistDate" />
        <result column = "is_hs" property = "isHs" />
    </resultMap>

    <sql id = "BaseWhereClause">
        <where>
            <trim prefixOverrides = "and">
                <include refid = "COMMON.BASE_WHERE_CLAUSE" />
                <if test = "tsCode != null">
                    and ts_code = #{tsCode}
                </if>
                <if test = "symbol != null">
                    and symbol = #{symbol}
                </if>
                <if test = "name != null">
                    and name = #{name}
                </if>
                <if test = "area != null">
                    and area = #{area}
                </if>
                <if test = "industry != null">
                    and industry = #{industry}
                </if>
                <if test = "fullname != null">
                    and fullname = #{fullname}
                </if>
                <if test = "enname != null">
                    and enname = #{enname}
                </if>
                <if test = "market != null">
                    and market = #{market}
                </if>
                <if test = "exchange != null">
                    and exchange = #{exchange}
                </if>
                <if test = "currType != null">
                    and curr_type = #{currType}
                </if>
                <if test = "listStatus != null">
                    and list_status = #{listStatus}
                </if>
                <if test = "listDate != null">
                    and list_date = #{listDate}
                </if>
                <if test = "delistDate != null">
                    and delist_date = #{delistDate}
                </if>
                <if test = "isHs != null">
                    and is_hs = #{isHs}
                </if>
            </trim>
        </where>
    </sql>

    <sql id = "BaseUpdateSet">
        <set>
            <include refid = "COMMON.BASE_UPDATE_SET" />
            <if test = "tsCode != null">
                ts_code = #{tsCode},
            </if>
            <if test = "symbol != null">
                symbol = #{symbol},
            </if>
            <if test = "name != null">
                name = #{name},
            </if>
            <if test = "area != null">
                area = #{area},
            </if>
            <if test = "industry != null">
                industry = #{industry},
            </if>
            <if test = "fullname != null">
                fullname = #{fullname},
            </if>
            <if test = "enname != null">
                enname = #{enname},
            </if>
            <if test = "market != null">
                market = #{market},
            </if>
            <if test = "exchange != null">
                exchange = #{exchange},
            </if>
            <if test = "currType != null">
                curr_type = #{currType},
            </if>
            <if test = "listStatus != null">
                list_status = #{listStatus},
            </if>
            <if test = "listDate != null">
                list_date = #{listDate},
            </if>
            <if test = "delistDate != null">
                delist_date = #{delistDate},
            </if>
            <if test = "isHs != null">
                is_hs = #{isHs}
            </if>
        </set>
    </sql>

    <!-- 查询总数 -->
    <select id = "selectCount" resultType = "java.lang.Integer">
        select count(id)
        from stock_basic
        <include refid = "BaseWhereClause" />
    </select>

    <!-- 查询 -->
    <select id = "select" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from stock_basic
        <include refid = "BaseWhereClause" />
        <include refid = "COMMON.ORDER_BY" />
        <include refid = "COMMON.PAGE" />
    </select>

    <!-- 根据ID查询 -->
    <select id = "selectById" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from stock_basic
        where id = #{id}
        and is_deleted = 'N'
    </select>

    <!-- 根据IDS批量删除 -->
    <update id = "deleteByIds">
        update stock_basic
        set is_deleted='Y'
        where id in
        (
        <foreach collection = "array" index = "index" item = "tag" separator = ",">
            #{tag}
        </foreach>
        )
    </update>

    <!-- 根据ID删除 -->
    <update id = "deleteById">
        update stock_basic
        set is_deleted='Y'
        where id=#{id}
    </update>

    <!-- 删除 -->
    <delete id = "delete">
        update stock_basic
        set is_deleted='Y'
        <include refid = "BaseWhereClause" />
    </delete>

    <!-- 添加   -->
    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into stock_basic (
        <include refid = "COMMON.BASE_INSERT_COLUMN" />
        ts_code,
        symbol,
        name,
        area,
        industry,
        fullname,
        enname,
        market,
        exchange,
        curr_type,
        list_status,
        list_date,
        delist_date,
        is_hs
        )
        values (
        <include refid = "COMMON.BASE_INSERT_VALUE" />
        #{tsCode},
        #{symbol},
        #{name},
        #{area},
        #{industry},
        #{fullname},
        #{enname},
        #{market},
        #{exchange},
        #{currType},
        #{listStatus},
        #{listDate},
        #{delistDate},
        #{isHs}
        )
    </insert>

    <!-- 通过ID更新 -->
    <update id = "updateById">
        update stock_basic
        <include refid = "BaseUpdateSet" />
        where id = #{id}
    </update>

    <!--
    <update id="batchUpdate">
        update stock_basic b,(
        select
        0 as id,
        0 as saleVolume,
        0 as visitNum,
        0 as gmt_modified
        0 as ts_code,
        0 as symbol,
        0 as name,
        0 as area,
        0 as industry,
        0 as fullname,
        0 as enname,
        0 as market,
        0 as exchange,
        0 as curr_type,
        0 as list_status,
        0 as list_date,
        0 as delist_date,
        0 as is_hs
        union
        <foreach collection="dataList" index="index" item="rec" separator=" union">
            select #{rec.id},#{rec.saleVolume},#{rec.visitNum},now()
        </foreach>
        ) b
        set p.sale_volume = b.saleVolume,p.visit_num = b.visitNum,p.gmt_modified = b.gmt_modified
        where p.id=b.id and b.id>0
    </update>
    -->
</mapper>
