<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.dcais.stock.stock.dao.info.DailyDao">

    <resultMap id = "BaseResultMap" type = "org.dcais.stock.stock.entity.info.Daily"
               extends = "COMMON.BASE_RESULT_MAP">
        <result column = "ts_code" property = "tsCode" />
        <result column = "trade_date" property = "tradeDate" />
        <result column = "open" property = "open" />
        <result column = "high" property = "high" />
        <result column = "low" property = "low" />
        <result column = "close" property = "close" />
        <result column = "pre_close" property = "preClose" />
        <result column = "pct_chg" property = "pctChg" />
        <result column = "vol" property = "vol" />
        <result column = "amount" property = "amount" />
    </resultMap>

    <sql id = "BaseWhereClause">
        <where>
            <trim prefixOverrides = "and">
                <include refid = "COMMON.BASE_WHERE_CLAUSE" />
                <if test = "tsCode != null">
                    and ts_code = #{tsCode}
                </if>
                <if test = "tradeDate != null">
                    and trade_date = #{tradeDate}
                </if>
                <if test = "open != null">
                    and open = #{open}
                </if>
                <if test = "high != null">
                    and high = #{high}
                </if>
                <if test = "low != null">
                    and low = #{low}
                </if>
                <if test = "close != null">
                    and close = #{close}
                </if>
                <if test = "preClose != null">
                    and pre_close = #{preClose}
                </if>
                <if test = "pctChg != null">
                    and pct_chg = #{pctChg}
                </if>
                <if test = "vol != null">
                    and vol = #{vol}
                </if>
                <if test = "amount != null">
                    and amount = #{amount}
                </if>
            </trim>
        </where>
    </sql>

    <sql id = "BaseUpdateSet">
        <set>
            <include refid = "COMMON.BASE_UPDATE_SET" />
            <if test = "tsCode != null">
                ts_code = #{tsCode},
            </if>
            <if test = "tradeDate != null">
                trade_date = #{tradeDate},
            </if>
            <if test = "open != null">
                open = #{open},
            </if>
            <if test = "high != null">
                high = #{high},
            </if>
            <if test = "low != null">
                low = #{low},
            </if>
            <if test = "close != null">
                close = #{close},
            </if>
            <if test = "preClose != null">
                pre_close = #{preClose},
            </if>
            <if test = "pctChg != null">
                pct_chg = #{pctChg},
            </if>
            <if test = "vol != null">
                vol = #{vol},
            </if>
            <if test = "amount != null">
                amount = #{amount}
            </if>
        </set>
    </sql>

    <!-- 查询总数 -->
    <select id = "selectCount" resultType = "java.lang.Integer">
        select count(id)
        from stock_daily
        <include refid = "BaseWhereClause" />
    </select>

    <!-- 查询 -->
    <select id = "select" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from stock_daily
        <include refid = "BaseWhereClause" />
        <include refid = "COMMON.ORDER_BY" />
        <include refid = "COMMON.PAGE" />
    </select>

    <!-- 根据ID查询 -->
    <select id = "selectById" resultMap = "BaseResultMap">
        select
        <include refid = "COMMON.ALL_COLUMN_LIST" />
        from stock_daily
        where id = #{id}
        and is_deleted = 'N'
    </select>

    <!-- 根据IDS批量删除 -->
    <update id = "deleteByIds">
        update stock_daily
        set is_deleted='Y'
        where id in
        (
        <foreach collection = "array" index = "index" item = "tag" separator = ",">
            #{tag}
        </foreach>
        )
    </update>

    <!-- 根据ID删除 -->
    <update id = "deleteById">
        update stock_daily
        set is_deleted='Y'
        where id=#{id}
    </update>

    <!-- 删除 -->
    <delete id = "delete">
        update stock_daily
        set is_deleted='Y'
        <include refid = "BaseWhereClause" />
    </delete>

    <!-- 添加   -->
    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into stock_daily (
        <include refid = "COMMON.BASE_INSERT_COLUMN" />
        ts_code,
        trade_date,
        open,
        high,
        low,
        close,
        pre_close,
        pct_chg,
        vol,
        amount
        )
        values (
        <include refid = "COMMON.BASE_INSERT_VALUE" />
        #{tsCode},
        #{tradeDate},
        #{open},
        #{high},
        #{low},
        #{close},
        #{preClose},
        #{pctChg},
        #{vol},
        #{amount}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" >
        insert into stock_daily (
        is_deleted,
        gmt_create,
        creator,
        gmt_modified,
        modifier,
        ts_code,
        trade_date,
        open,
        high,
        low,
        close,
        pre_close,
        pct_chg,
        vol,
        amount
        )
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.isDeleted},
            #{item.gmtCreate},
            #{item.creator},
            #{item.gmtModified},
            #{item.modifier},
            #{item.tsCode},
            #{item.tradeDate},
            #{item.open},
            #{item.high},
            #{item.low},
            #{item.close},
            #{item.preClose},
            #{item.pctChg},
            #{item.vol},
            #{item.amount}
            )
        </foreach>
    </insert>

    <!-- 通过ID更新 -->
    <update id = "updateById">
        update stock_daily
        <include refid = "BaseUpdateSet" />
        where id = #{id}
    </update>

    <select id="getMaxDaily" resultMap = "BaseResultMap">
        select * from stock_daily
        where
            is_deleted = 'N'
        and ts_code = #{tsCode}
        order by trade_date desc
        limit 1;
    </select>

</mapper>
